

<div class="row">
    <div class="HomeFoto"> </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="BruidCenter"></div>
    </div>
    <div class="col-md-6">
        <div class="BruideGomCenter">
            </div>
    </div>
</div>