

<div class="row">
    <div class="HomeFoto"> </div>
</div>
<div class="row"style="margin-top: -300px;margin-bottom: 300px;
">
    <div class="col-md-6 text-center">
        <div class="BruidCenter">
            <div style="margin:15px;">
           BRUID
                </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="BruideGomCenter">
            <div style="margin:15px;">BRUIDEGOM</div>
            
            </div>
    </div>
</div>