@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Dress
@{
}

<form asp-action="DeleteDress" method="post" id="deleteForm">
    <div class="form-group">
        <label asp-for="DressId">Artikel nr.</label>
        <input asp-for="DressId" class="form-control" />
        <span asp-validation-for="DressId"></span>
    </div>  
    <div class="form-group">
        <button type="button" class="text-uppercase form-control" data-toggle="modal" data-target="#confirmModal">Verwijder jurk</button>
    </div>
</form>
<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">Bevestig verwijdering</h4>
            </div>
            <div class="modal-body">
                Weet u zeker dat u de jurk wilt verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                <button type="button" id="confirmDeleteBtn" class="btn btn-primary">Verwijder jurk</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal JS -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#confirmDeleteBtn").click(function () {
            var $form = $("#deleteForm");
            $form.validate();
            if($form.valid())
                $form.submit();
            $("#confirmModal").modal('hide');
        });
    });
</script>