@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/admin.css">
</head>

<body>

    <div class="container admin-login-container">
        <div class="row ">
            <form action="#">
                <h2>Login HoneymoonShop</h2>

                <div>
                    <input type="text" placeholder="Gebruikersnaam" name="uname" required>
                    <input type="password" placeholder="Wachtwoord" name="psw" required>

                    <button type="submit" class="text-uppercase"><strong>Login</strong></button>
                    <input type="checkbox">Onthoud mij<br><br>
                </div>

                <div>
                    <button type="button" class="google-btn"><strong>GOOGLE Login</strong></button>
                    <span class="psw"><a href="#">Wachtwoord vergeten?</a></span>
                </div>
            </form>
        </div>
    </div>

</body>

</html>