@*
    For more informaton on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<head>
    <title>Afspraak kiezen</title>
</head>

<div class="row">
    <p>BREADCRUMBS HERE LATER</p>
</div>

<div class="row flex-container flex-afspraak-select">
    <div class="col-md-3 no-gutter yellowBorder">
        <h5 class="text-uppercase"><strong>Soorten Afspraken</strong></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin pharetra justo vitae aliquam. Suspendisse potenti.</p>
    </div>
    <div class="col-md-2 no-gutter afspraak-select-gutter yellowBorder">
        <a href="[HIER MOET C# SHARP CODE!!!]">
            <img class="img-responsive" src="http://placekitten.com/200/200" alt="Trouwjurken Passen">
        </a>
    </div>
    <div class="col-md-2 no-gutter afspraak-select-gutter yellowBorder">
        <a href="[HIER MOET C# SHARP CODE!!!]">
            <img class="img-responsive" src="http://placekitten.com/200/200" alt="Trouwpakken Passen">
        </a>
    </div>
    <div class="col-md-2 no-gutter afspraak-select-gutter yellowBorder">
        <a href="[HIER MOET C# SHARP CODE!!!]">
            <img class="img-responsive" src="http://placekitten.com/200/200" alt="Afspeldafspraak maken">
        </a>
    </div>
</div>

<div class="row text-center">
    <span class="caret"></span>
</div>

<div class="row">
    <p class="text-center text-uppercase">
        <strong>
            Een jurk of pak kopen?<br />
            Zo werkt het...
        </strong>
    </p>
</div>

<div class="row yellowBorder no-gutter">
    <div class="col-md-8" style="">
        <img class="img-responsive imgTest" src="http://placehold.it/500x300" alt="first image" />
        <div class="row textUp">
            <div class="col-md-6 yellowBorder">
                <p>hallo</p>
            </div>
            <div class="col-md-6 yellowBorder">
                <p>hallo</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 circleTest ">
        <div class="clearfix">
            <a href="[C# CODE HIER!!]">
                <div class="numberCircle">1</div>
                <div class="thot">De winkel</div>
            </a>
        </div>
        <div class="clearfix">
            <a href="[C# CODE HIER!!]">
                <div class="numberCircle">2</div>
                <div class="thot">Onze specialisten</div>
            </a>
        </div>
        <div class="clearfix">
            <a href="[C# CODE HIER!!]">
                <div class="numberCircle">3</div>
                <div class="thot">Naai-atelier</div>
            </a>
        </div>
        <div class="clearfix">
            <a href="[C# CODE HIER!!]">
                <div class="numberCircle">4</div>
                <div class="thot">Servicepunten</div>
            </a>
        </div>
    </div>
</div>

<!-- BEGIN ENDPICTURE -->
<div class="row">
    <img class="img-responsive" src="http://placehold.it/1800x500" alt="1800x500">
</div>
<!-- END ENDPICTURE -->