@{
    ViewData["Title"] = "Datum Selecteren";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Display inline</title>

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <link rel="stylesheet" href="~/css/Kalender.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/Kalender.css">


    @*<script>
        $( function() {
          $( "#datepicker" ).datepicker({
              minDate: 0,
              onSelect: function (dateText, inst) {
              var currentDate = $( "#datepicker" ).datepicker( "getDate" );

              $( "#datum" ).text(jQuery.datepicker.formatDate("dd-mm-yy", currentDate));

              }

              });
        } );
          </script>*@
</head>

<style>
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }
</style>

<div class="row flex-container form-container">
    <div class="col-md-5 yellowBorder">
        <h3>Stap 1, Datum en tijd selecteren</h3>
        <p>Selecteer eerst een datum en vervolgens een tijdstip wanneer je wilt komen passen!</p>
        <div class="openingstijden" style="padding-bottom:10px">
            <span>Openingstijden:</span>
            <table>
                <tr>
                    <td>MA</td>
                    <td class="tijden">12:00-17:30</td>
                </tr>
                <tr>
                    <td>DI-VR</td>
                    <td class="tijden">09:30-17:30</td>
                </tr>
                <tr>
                    <td>ZA</td>
                    <td class="tijden">09:30-18:00</td>
                </tr>
                <tr>
                    <td>ZO</td>
                    <td class="tijden">11:00-17:00</td>
                </tr>
            </table>
        </div>
        <p>*Op alle werkdagen kunnen er ook schoenen worden gepast. Helaas is dit niet mogelijk in het weekend.<p>
    </div>

    <div class="col-md-5 controle-scherm yellowBorder">
        <div class="controle-scherm-gegevens" style="color: white;">
            <h3>Selecteer een datum:</h3>
            <p>Vul je persoonlijke gegevens in <br> om de pasafspraak compleet te maken.</p>
            
            <div id="calendar"></div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
	            $('#calendar').datepicker({
	                inline: true,
	                firstDay: 1,
		            showOtherMonths: true,
		            dayNamesMin: ['Zo', 'Ma', 'Di', 'Woe', 'Do', 'Vr', 'Za'],
		            minDate: 0
	            });
            </script>

            <a href="TijdSelecteren"><span style="bottom: 20px; right:75px; position:absolute; text-decoration:none; color: white; margin-top:20px;">Tijd selecteren</span></a>
        </div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>