@{
    ViewData["Title"] = "Gegevens invullen";
    
}

@model HoneyMoonDB.Models.Afspraak

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<style>
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }
</style>



<div class="row flex-container form-container">
   
    <div class="col-md-4 yellowBorder" style="-webkit-box-shadow: -1px 1px 10px; box-shadow:1px 1px 10px rgba(136, 136, 136, 1);">
        <h4>Stap 3, Gegevens invullen</h4>
        <form asp-controller="Afspraak" asp-action="GegevensInvullen" method="post">
            <p>
                <label asp-for="Naam"></label>
                <input asp-for="Naam">
                <span asp-validation-for="Naam" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="TrouwDatum"></label>
                <input asp-for="TrouwDatum">
                <span asp-validation-for="TrouwDatum" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="Telefoonnummer"></label>
                <input asp-for="Telefoonnummer">
                <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="HerhaalEmail"></label>
                <input asp-for="HerhaalEmail">
                <span asp-validation-for="HerhaalEmail" class="text-danger"></span>
            </p>
            
            @*<p>
                <input asp-for="AfspraakDatum" type="hidden">
            </p>*@
            <script>
                window.onload = function () {
                    var hiddenDate = localStorage.getItem("fullDate");
                    document.getElementById('AfspraakDatum').value = hiddenDate;
                }

            </script>
            <input type="checkbox" name="subscription" value="Bike"> Ja, ik wil me graag aanmelden voor de inspirende nieuwsbrief van de HoneyMoon Shop<br><br>
            <button type="submit" class="btn-standard text-uppercase" style="margin-bottom: 25px"><strong>Naar stap 3</strong></button>
        </form>
    </div>

    <div class="col-md-4 controle-scherm yellowBorder" style=" margin-bottom: 140px;-webkit-box-shadow: 1px 1px 10px;box-shadow:1px 1px 10px rgba(136, 136, 136, 1;">
        <div class="controle-scherm-gegevens" style="color: white;">
            <div class="Titel" style="color:white; display:flex; margin-top:15px;">

                <div style="background-image: url(http://www.iconsdb.com/icons/preview/white/heart-49-xxl.png);
                background-size: 100% 100%;
                height: 15px;
                width: 15px;
                margin-top: 11px;
                margin-right:5px;
                ">


                </div>
                <h4>Gekozen tijd en datum:</h4>

            </div>
            <div class="ui-datepicker-title" style="
                
                 margin-top: 20px;
                 margin-right: 35px;
               
                 margin-left: 35px;
                 width: 290px;
                 text-align: center;
                 font-size: medium;
                 background-color: rgb(242, 115, 144);
                 padding: 5px;
                 color: white;
                 ">
                <span class="ui-datepicker-day">15</span>
                <span class="ui-datepicker-month">January</span>&nbsp;
                <span class="ui-datepicker-year">2017</span>
            </div>
            <div style="font-size: 15px;margin-top:10px; margin-left:40px;">
            <p>Vul je persoonlijke gegevens in <br> om de pasafspraak compleet te maken.</p>
                </div>
            <a href="DatumSelecteren">
              
                <div class="Back" style="display:flex;">
                    <div class="backArrow" style="background-image :url(http://oi64.tinypic.com/72t2jt.jpg);
    background-size: 100% 100%;
   bottom: 20px;
    width: 50px;
    height: 22px;
    position:absolute">

                    </div>
                    <div class"backText">
                        <span style="bottom: 20px;margin-left:60px; position:absolute; text-decoration:none; color: white;">Terug naar stap 1 om datum te wijzigen</span>
                    </div>
                </div>

            </a>
        </div>
    </div>
    </div>




<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>