@{
    ViewData["Title"] = "Gegevens invullen";
    
}

@model HoneyMoonDB.Models.Afspraak

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<style>
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }
</style>



<div class="row flex-container form-container">
    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
    <div class="col-md-5 yellowBorder">
        <form asp-controller="Afspraak" asp-action="GegevensInvullen" method="post">
            <p>
                <label asp-for="Naam"></label>
                <input asp-for="Naam">
                <span asp-validation-for="Naam" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="TrouwDatum"></label>
                <input asp-for="TrouwDatum">
                <span asp-validation-for="TrouwDatum" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="Telefoonnummer"></label>
                <input asp-for="Telefoonnummer">
                <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </p>
            <p>
                <label asp-for="HerhaalEmail"></label>
                <input asp-for="HerhaalEmail">
                <span asp-validation-for="HerhaalEmail" class="text-danger"></span>
            </p>
            <input type="checkbox" name="subscription" value="Bike"> Ja, ik wil me graag aanmelden voor de inspirende nieuwsbrief van de HoneyMoon Shop<br><br>
            <button type="submit" class="btn-standard text-uppercase"><strong>Naar stap 3</strong></button>
        </form>
    </div>

    <div class="col-md-5 controle-scherm yellowBorder">
        <div class="controle-scherm-gegevens" style="color: white;">
            <h3>Gekozen tijd en datum:</h3>
            <p>Vul je persoonlijke gegevens in <br> om de pasafspraak compleet te maken.</p>
            <a href="DatumSelecteren"><span style="bottom: 20px; position:absolute; text-decoration:none; color: white;">Terug naar stap 1 om datum te wijzigen</span></a>
        </div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>