@{
    ViewData["Title"] = "Tijd Selecteren";
}

<style>

    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }

</style>

<div class="row flex-container form-container">
    <div class="col-md-5 yellowBorder">
        <h3>Stap 1, Datum en tijd selecteren</h3>
        <p>Selecteer eerst een datum en vervolgens een tijdstip wanneer je wilt komen passen!</p>
        <div class="openingstijden" style="padding-bottom:10px">
            <span>Openingstijden:</span>
            <table>
                <tr>
                    <td>MA</td>
                    <td class="tijden">12:00-17:30</td>
                </tr>
                <tr>
                    <td>DI-VR</td>
                    <td class="tijden">09:30-17:30</td>
                </tr>
                <tr>
                    <td>ZA</td>
                    <td class="tijden">09:30-18:00</td>
                </tr>
                <tr>
                    <td>ZO</td>
                    <td class="tijden">11:00-17:00</td>
                </tr>
            </table>
        </div>
        <p>*Op alle werkdagen kunnen er ook schoenen worden gepast. Helaas is dit niet mogelijk in het weekend.</p>
        <form action="GegevensInvullen">
            <button type="submit" class="btn-standard text-uppercase"><strong>Naar stap 2</strong></button>
        </form>
    </div>
@model HoneyMoonDB.Models.Afspraak
    <div class="col-md-5 controle-scherm yellowBorder" style="color: white;">
        <div class="controle-scherm-gegevens">
            <h3>Selecteer een tijdstip:</h3>
            <form asp-controller="Afspraak" asp-action="DatumSelecteren" method="post">
                <input asp-for="AfspraakDatum" type="text">
                @*<button type="submit" class="btn-standard text-uppercase"><strong>Naar stap 3</strong></button>*@
            </form>
            <script>
                window.onload = function () {
                    var hiddenDate2 = localStorage.getItem("fullDate");
                    document.getElementById('AfspraakDatum').value = hiddenDate2;
                }

            </script>
            <a href="DatumSelecteren"><span style="bottom: 20px; position:absolute; text-decoration:none; color: white;">Terug naar stap 1 om datum te wijzigen</span></a>
</div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>