@{
    ViewData["Title"] = "Tijd Selecteren";
}
@model HoneyMoonDB.Models.Afspraak
<style>

    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }

</style>

<div class="row flex-container form-container">
    <div class="col-md-4 yellowBorder"style="box-shadow: -1px 1px 10px 0px rgba(136, 136, 136, 1">
        <h4>Stap 1, Datum en tijd selecteren</h4>
        <p>Selecteer eerst een datum en vervolgens een tijdstip wanneer je wilt komen passen!</p>
        <div class="openingstijden" style="padding-bottom:10px">
            <span>Openingstijden:</span>
            <table>
                <tr>
                    <td>MA</td>
                    <td class="tijden">12:00-17:30</td>
                </tr>
                <tr>
                    <td>DI-VR</td>
                    <td class="tijden">09:30-17:30</td>
                </tr>
                <tr>
                    <td>ZA</td>
                    <td class="tijden">09:30-18:00</td>
                </tr>
                <tr>
                    <td>ZO</td>
                    <td class="tijden">11:00-17:00</td>
                </tr>
            </table>
        </div>
        <p>*Op alle werkdagen kunnen er ook schoenen worden gepast. Helaas is dit niet mogelijk in het weekend.</p>
        <a href="GegevensInvulen">
            <div>
                <p type="submit" class="btn-standard text-uppercase"><strong>Naar stap 2</strong></p>
            </div>
        </a>
    </div>

    <div class="col-md-4 controle-scherm yellowBorder" style="box-shadow: 1px 1px 10px 0px rgba(136, 136, 136, 1"">
        <div class="controle-scherm-gegevens">
            <div class="Titel" style="color:white; display:flex;">

                <div style="background-image: url(http://www.iconsdb.com/icons/preview/white/heart-49-xxl.png);
                background-size: 100% 100%;
                height: 15px;
                width: 15px;
                margin-top: 11px;
                margin-right:5px;
                ">


                </div>
                <h4>Selecteer een tijdstip:</h4>

            </div>
            <div class="ui-datepicker-title" style="
                 margin: auto;
                 width: 290px;
                 text-align: center;
                 font-size: medium;
                 background-color: rgb(242, 115, 144);
                 padding: 5px;
                 color: white;
                 ">
                <span class="ui-datepicker-day">15</span>
                <span class="ui-datepicker-month">January</span>
                 &nbsp;
                <span class="ui-datepicker-year">2017</span>
            </div>
            
            <div>
                <form asp-controller="Afspraak" asp-action="GegevensInvullen" method="post">
                    <p>
                        <input asp-for="AfspraakDatum" type="text">
                    </p>
                </form>
            </div>
            
            <script>
                window.onload = function () {
                    var hiddenDate2 = localStorage.getItem("fullDate");
                    document.getElementById('AfspraakDatum').value = hiddenDate2;
                    alert(localStorage.getItem("fullDate"));
                }

            </script>

            <a href="DatumSelecteren" >
                <div class="Back" style="display:flex;">
                    <div class="backArrow" style="background-image :url(http://oi64.tinypic.com/72t2jt.jpg); 
    background-size: 100% 100%;
   bottom: 20px;
    width: 50px;
    height: 22px;
    position:absolute">

                    </div>
                    <div class"backText">
                        <span style="bottom: 20px;margin-left:60px; position:absolute; text-decoration:none; color: white;">Terug naar datum wijzigen</span>
                    </div>
                </div>
            
            </a>
        </div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>