@{
    ViewData["Title"] = "Datum Selecteren";
}

@model HoneyMoonDB.Models.AfspraakVM

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/Kalender.css">

    <style>
        .navbar-default .navbar-nav > li > a {
            color: #000;
        }

        .navbar-default .navbar-brand {
            color: #000;
        }

        .FormGegevens {
            margin-top: 30px;
        }

        .openingstijden {
            padding-bottom: 10px;
        }

        .controle-scherm {
            box-shadow: -1px 1px 10px 0px rgba(136, 136, 136, 1);
        }

        .nextArrow {
            background-image :url(http://oi65.tinypic.com/2yuzmro.jpg);
            background-size: 100% 100%;
            bottom: 19px;
            width: 50px;
            height: 22px;
            position: absolute;
            margin-left: 310px;
            margin-top: 5px;
        }

        .nextText {
            bottom: 20px; 
            right:75px; 
            position:absolute; 
            text-decoration:none; 
            color: white; 
            margin-top:20px;
        }

        .volgende {
            display:flex; 
            padding-top: 40px;
        }

        .controle-scherm-gegevens {
            color: white;
        }
    </style>

</head>

<div class="row">
    <div class="AfspraakBanner">

    </div>

</div>
<div class="row flex-container form-container">
    <div class="col-md-5" style="box-shadow: -1px 1px 10px 0px rgba(136, 136, 136, 1)">
       
        <div class="col-md-3 Cirkels" style="text-align:center; margin-top:35px;">
            <div class="ThisCirkel">1</div>
            <div class="ThisStep">Datum en tijd selecteren</div>
            @for (int i = 0; i < 6; i++) {
                <div class="Streep"></div><br />
            }
            <div class="NextCirkel">2</div>
            <div class="NextStep">Gegevens invullen</div>
            <div class="Streep"></div><br />
            <div class="NextCirkel">3</div>
            <div class="NextStep">Gegevens controleren</div>
        </div>

        <div class="col-md-9 FormGegevens">
            <h4>Stap 1, Datum en tijd selecteren</h4>
            <p>Selecteer eerst een datum en vervolgens een tijdstip wanneer je wilt komen passen!</p>
            <div class="openingstijden">
                <span>Openingstijden:</span>
                <table class="text-uppercase">
                    <tr>
                        <td>ma</td>
                        <td class="tijden">12:00 - 17:30</td>
                    </tr>
                    <tr>
                        <td>di-vr</td>
                        <td class="tijden">09:30 - 17:30</td>
                    </tr>
                    <tr>
                        <td>za</td>
                        <td class="tijden">09:30 - 18:00</td>
                    </tr>
                    <tr>
                        <td>zo</td>
                        <td class="tijden">11:00 - 17:00</td>
                    </tr>
                </table>
            </div>
            <p>*Op alle werkdagen kunnen er ook schoenen worden gepast. Helaas is dit niet mogelijk in het weekend.</p>
        </div>
    </div>

    <div class="col-md-4 controle-scherm controle-scherm-gegevens">
        <h4>Selecteer een datum:</h4>

        <div id="calendar"></div>
      
        <script>
                $('#calendar').datepicker({
                    inline: true,
                    firstDay: 1,
                    showOtherMonths: true,
                    dayNamesMin: ['Zo', 'Ma', 'Di', 'Woe', 'Do', 'Vr', 'Za'],
                    minDate: 0,

                    onSelect: function () {
                        var months = [ "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December" ];
                        var daynaam = ['Zo', 'Ma', 'Di', 'Woe', 'Do', 'Vr', 'Za'];
                        var dayName = daynaam[$("#calendar").datepicker('getDate').getDay()];
                        var day = $("#calendar").datepicker('getDate').getDate();
                        var month = months[$("#calendar").datepicker('getDate').getMonth()];
                        var monthgetal = $("#calendar").datepicker('getDate').getMonth() + 1;
                        var year = $("#calendar").datepicker('getDate').getFullYear();
                        var fullDate = day + "-" + month + "-" + year;
                        var fullDateNr = day + "-" + monthgetal + "-" + year;

                        localStorage.setItem("fullDate", fullDate);
                        localStorage.setItem("dagnaam", dayName);
                        localStorage.setItem("day", day);
                        localStorage.setItem("month", month);
                        localStorage.setItem("year", year);
                        localStorage.setItem("fullDateNr", fullDateNr);

                        document.getElementById("datGeselecteerdeDatum").value = fullDate;
                    }
                });
        </script>  
   
  

        <form action="/Afspraak/TijdSelecteren" name="frmGeselecteerdeDatum" method="post">
            <input type="hidden" name="datGeselecteerdeDatum" id="datGeselecteerdeDatum" />
        </form>

        <a href="JavaScript:document.getElementsByName('frmGeselecteerdeDatum')[0].submit()" class="volgende">
            <span class="nextArrow"></span>
            <span class="nextText">Selecteer een tijd</span>
        </a>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>