@{
    ViewData["Title"] = "Gegevens invullen";
}

@model HoneyMoonDB.Models.Afspraak
@using HoneyMoonDB.Models


<style>
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }
</style>


<div class="row">
    <div class="AfspraakBanner">

    </div>

</div>
<div class="row flex-container form-container">
    <div class="col-md-5 yellowBorder" style=" margin-bottom: 140px;-webkit-box-shadow: 1px 1px 10px;box-shadow:1px 1px 10px rgba(136, 136, 136, 1;">
        <div class="col-md-3 Cirkels" style="text-align:center; margin-top:35px;">
            <div class="CirkelBack">1</div>
            <div class="LastStep">Datum en tijd selecteren</div>
            <div class="Streep"></div><br />
            <div class="CirkelBack">2</div>
            <div class="LastStep">Gegevens invullen</div>
            <div class="Streep"></div><br />
            <div class="ThisCirkel">3</div>
            <div class="ThisStep">Gegevens controleren</div>
        </div>
        <div style="margin-top:30px;">
            <h4>Stap 3, Gegevens controleren</h4>
            <p>Controleer al je gegevens voor je pasafspraak bij HoneymoonShop aan Korte Hoogstraat 4, te Rotterdam</p>
            <a href="JavaScript:document.getElementsByName('frmBevestigen')[0].submit()">
                <div>
                    <span type="submit" class="btn-standard text-uppercase" style="width:200px;margin-bottom: 180px; margin-top: 20px;"><strong>Afspraak bevestigen</strong></span>
                </div>
            </a>

        </div>
    </div>

    <div class="col-md-5 controle-scherm yellowBorder" style=" margin-bottom: 140px;-webkit-box-shadow: 1px 1px 10px;box-shadow:1px 1px 10px rgba(136, 136, 136, 1;">
        <div class="controle-scherm-gegevens" style="color: white;">
            <div class="Titel" style="color:white; display:flex; margin-top:15px;">

                <div style="background: url(http://www.iconsdb.com/icons/preview/white/heart-49-xxl.png);
                background-size: 100% 100%;
                height: 15px;
                width: 15px;
                margin-top: 11px;
                margin-right:5px;
                ">

                </div>
                <h4>Controleer je gegevens:</h4>

            </div>

            <div class="col-md-10 col-md-offset-1 ui-datepicker-title" style="margin-bottom: 15px;
                 text-align: center;
                 font-size: medium;
                 background-color: rgb(242, 115, 144);
                 padding: 5px;
                 color: white;
                 ">

                <div>
                    <span id="AfspraakDagNaam"> </span>
                    <span id="AfspraakDag"> </span>
                    <span id="AfspraakMaand"></span>
                    <span id="AfspraakYear"></span> om
                    <span id="AfspraakTijdTitel"></span> u
                </div>
                <script>
                    window.onload = function () {
                        var AfspraakDagNaam = localStorage.getItem("dagnaam");
                        var hiddenDateDay = localStorage.getItem("day");
                        var hiddenDateMonth = localStorage.getItem("month");
                        var hiddenDateYear = localStorage.getItem("year");
                        document.getElementById('AfspraakDagNaam').innerText = AfspraakDagNaam;
                        document.getElementById('AfspraakDag').innerText = hiddenDateDay;
                        document.getElementById('AfspraakMaand').innerText = hiddenDateMonth;
                        document.getElementById('AfspraakYear').innerText = hiddenDateYear;
                        var tijdTitel = localStorage.getItem("tijdTitel");
                        document.getElementById('AfspraakTijdTitel').innerText = tijdTitel;
                        //document.getElementById('Tijd_FK.tijd').value = tijdTitel;
                    }

                </script>
            </div>

            <br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div>
                        <label asp-for="Naam">Naam:</label>
                    </div>
                    <div>
                        <label asp-for="TrouwDatum">Trouwdatum:</label>
                    </div>
                    <div>
                        <label asp-for="Telefoonnummer">Telefoon:</label>
                    </div>
                    <div>
                        <label asp-for="Email">E-mail:</label>
                    </div>

                </div>

                <div class="col-md-6">

                    <div>
                        <label>@Model.Naam</label>
                    </div>
                    <div>
                        <label> @Model.TrouwDatum.ToString("dd/MM/yyyy")</label>
                    </div>
                    <div>
                        <label>@Model.Telefoonnummer</label>
                    </div>
                    <div>
                        <label>@Model.Email</label>
                    </div>

                    <form asp-controller="Afspraak" asp-action="GegevensBevestigen" method="post" name="frmBevestigen">
                        <input type="hidden" asp-for="Tijd" />
                        @*<input type="hidden" asp-for="Tijd_FK.tijd" />*@
                        <input type="hidden" asp-for="AfspraakDatum" />
                        <input type="hidden" asp-for="Nieuwsbrief" />
                        <p>
                            <input asp-for="Naam" type="hidden" />
                        </p>
                        <p>
                            <input asp-for="TrouwDatum" type="hidden" />
                        </p>
                        <p>
                            <input asp-for="Telefoonnummer" type="hidden" />
                        </p>
                        <p>
                            <input asp-for="Email" type="hidden" />
                        </p>
                        <p>
                            <input asp-for="HerhaalEmail" type="hidden" />
                        </p>
                    </form>
                </div>
            </div>

            <div class="col-md-12" style="bottom:20px; font-size:13px; position:absolute; text-decoration:none; color: white">
                <a href="GegevensInvullen">
                    <div class="Back" style="display:flex;">
                        <div class="backArrow" style="background-image :url(http://oi64.tinypic.com/72t2jt.jpg);
                            background-size: 100% 100%;
                            bottom: 20px;
                            width: 50px;
                            height: 22px; ">
                        </div>
                        <div class"backText">
                            <span style="font-size:13px;margin-left:10px; text-decoration:none; color: white;">Terug naar stap 2 om je gegevens te wijzigen</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>