<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <div class="container">

        <!-- BEGIN HEADER -->
        <div class="row header flex-container flex-header text-center">
            <div class="col-md-2 yellowBorder">
                <strong>Hallo</strong>
            </div>
            <div class="col-md-2 yellowBorder">
                <strong>Webshop</strong>
            </div>
            <div class="col-md-2 col-md-offset-4 text-right yellowBorder">
                <strong>T (010) 4126143</strong>
            </div>
            <div class="col-md-2 yellowBorder">
                <strong>Wat zoek je?</strong>
            </div>
        </div>
        <!-- END HEADER -->

        

        <!-- BEGIN NAVBAR -->
        <div class="row image ">
            <div class="col-sm-12 ">
                <div class="col-sm-4 text-left vcenter">
                    <h1 style=" font-size: 30px; font-family:hoefler text;color:white;"><class ="brand">Honeymoon Shop®</h1>
                </div>
                <div class="col-sm-0.5 vcenter">
                    <p style="color:#F0597c; font-family: 'Montserrat', sans-serif;"><class ="brand"><b>HOME</b></p1>
                </div>
                <div class="col-sm-1 vcenter">
                    <p style="color:white; font-family: 'Montserrat', sans-serif;"><class ="brand"><b>BRUID</b></p1>
                </div>
                <div class="col-sm-1.5 vcenter">
                    <p style="color:white; font-family: 'Montserrat', sans-serif;"><class ="brand"><b>BRUIDEGOM</b></p1>
                </div>
                <div class="col-sm-1.5 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>DE WINKEL</b></p1>
                </div>
                <div class="col-sm-1 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>BLOG</b></p1>
                </div>
                <div class="col-sm-0.5 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>CONTACT</b></p1>
                </div>
                <div class="col-sm-2 text-right vcenter">
                    <button style="padding: 5px; background-color:#F0597c;color:white; font-size: 13px"><b>AFSPRAAK MAKEN</b></button>
                </div>
            </div>
        </div>
        <!-- END NAVBAR -->

        @RenderBody()
        @RenderSection("scripts", required: false)
        
        <!-- BEGIN FOOTER -->
        <footer>
            <div class="row flex-container footer-container">
                <div class="col-md-3 no-gutter yellowBorder">
                    <img class="img-responsive center-block" src="http://placehold.it/255x155" alt="first image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="http://placehold.it/255x155" alt="second image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="http://placehold.it/255x155" alt="third image">
                </div>
            </div>

            <div class="row text-center">
                <address>
                    Korte Hoogstraat 4, 3011 GL Rotterdam <strong>email</strong> info@honeymoonshop.nl <strong>Tel:</strong> (010) 412 61 43 <strong>Whatsapp</strong> (06) 25 19 99 27
                </address>
                <p>
                    <strong>Openingstijden MA</strong> 12.00-17.30
                    <strong>DI t/m VR</strong> 09.30-17.30
                    <strong>ZA</strong> 09:30-18.00
                    <strong>DI t/m VR</strong> 11.00-17.00
                </p>
            </div>

            <div class="row no-gutter flex-container footer-container">
                <div class="col-md-2 no-gutter yellowBorder">
                    <img src="http://placehold.it/150x50" alt="sponsor 1">
                </div>
                <div class="col-md-2 no-gutter footer-gutter yellowBorder">
                    <img src="http://placehold.it/50x50" alt="sponsor 2">
                </div>
            </div>

            <div class="row flex-container footer-container">
                <div class="col-md-3 yellowBorder">
                    <h4>Winkel</h4>
                    <a href=""> Over de Honeymoon shop</a>
                    <a href=""> Servicepunten</a>
                    <a href="">Routebeschrijving</a>
                    <a href="">Beurzen en evenementen</a>
                    <a href="">Vacatures</a>
                    <a href="">Verkoopvoorwaarden</a>
                    <p>
                        Over de Honeymoon shop<br>
                        Servicepunten<br>
                        Routebeschrijving
                        Beurzen en evenementen<br>
                        Vacatures<br>
                        Verkoopvoorwaarden<br>
                        CBW erkend<br>
                        Contact<br>
                    </p>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Service</h4>
                    <p>
                        Beoordelingen<br>
                        Dressfinder<br>
                        Gratis trouwmagazine<br>
                        Nieuwsbrief<br>
                        Veel gestelde vragen<br>
                        CBW erkend<br>
                        Reinigen van trouwjurk<br>
                        10 redenen om je afspraak te maken<br>
                        The Perfect Match<br>
                    </p>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Acties</h4>
                    <p>
                        The Grand Wedding Show<br>
                        Summer Sale<br>
                        Trouwjurken onder de 1000 euro<br>
                        Trouwjurken voor de volslanke bruid<br>
                    </p>
                </div>
            </div>

        </footer>
        <!-- END FOOTER -->

    </div>
</body>
</html>