
<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <!-- BEGIN HEADER -->
        <div class="row header flex-container flex-header text-center text-uppercase">
            <div class="col-md-1 yellowBorder">
                <strong>Website</strong>
            </div>
            <div class="col-md-1 yellowBorder">
                <strong>Webshop</strong>
            </div>
            <div class="col-md-2 col-md-offset-6 text-right yellowBorder">
                <strong>T (010) 4126143</strong>
            </div>
            <div class="col-md-2 yellowBorder">
                <strong>Wat zoek je?</strong>
            </div>
        </div>
        <!-- END HEADER -->

        

        <!-- BEGIN NAVBAR -->
        <!--
        <div class="row image ">
            <div class="col-sm-12 ">
                <div class="col-sm-4 text-left vcenter">
                    <h1 style=" font-size: 30px; font-family:hoefler text;color:white;"><class ="brand">Honeymoon Shop®</h1>
                </div>
                <div class="col-sm-0.5 vcenter">
                    <p style="color:#F0597c; font-family: cooper black"><class ="brand"><b>HOME</b></p1>
                </div>
                <div class="col-sm-1 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>BRUID</b></p1>
                </div>
                <div class="col-sm-1.5 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>BRUIDEGOM</b></p1>
                </div>
                <div class="col-sm-1.5 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>DE WINKEL</b></p1>
                </div>
                <div class="col-sm-1 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>BLOG</b></p1>
                </div>
                <div class="col-sm-0.5 vcenter">
                    <p style="color:white; font-family: cooper black"><class ="brand"><b>CONTACT</b></p1>
                </div>
                <div class="col-sm-2 text-right vcenter">
                    <button style="padding: 5px; background-color:#F0597c;color:white; font-size: 13px"><b>AFSPRAAK MAKEN</b></button>
                </div>
            </div>
        </div>
        -->
        <!-- END NAVBAR -->

        <div class="row testImage">

                <nav class="navbar navbar-default flex-navbar">
                    <!-- REMOVE 'row' for mobile display-->
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header yellowBorder">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand text-uppercase" href="#">Honeymoon Shop<span class="reg-mark">&reg;</span></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right text-uppercase flex-container yellowBorder">
                                <li><a href="#"><strong>Home</strong></a></li>
                                <!-- <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li> -->
                                <li><a href="#"><strong>Bruid</strong></a></li>
                                <li><a href="#"><strong>Bruidegom</strong></a></li>
                                <li><a href="#"><strong>De winkel</strong></a></li>
                                <li><a href="#"><strong>Blog</strong></a></li>
                                <li><a href="#"><strong>Contact</strong></a></li>
                                <button type="button" class="btn-standard text-uppercase"><strong>Afspraak maken</strong></button>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

        </div>

        @RenderBody()
        @RenderSection("scripts", required: false)
        
        <!-- BEGIN FOOTER -->
        <footer>
            <div class="row flex-container footer-container">
                <div class="col-md-3 no-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s29.postimg.org/ufiakejyf/Footer_1_3.png" alt="first image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s24.postimg.org/u4jecevg5/Footer_2_3.png" alt="second image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s29.postimg.org/bg7a1ir5z/Footer_3_3.png" alt="third image">
                </div>
            </div>

            <div class="row text-center">
                <address>
                    Korte Hoogstraat 4, 3011 GL Rotterdam <strong>email</strong> info@honeymoonshop.nl <strong>Tel:</strong> (010) 412 61 43 <strong>Whatsapp</strong> (06) 25 19 99 27
                </address>
                <p>
                    <strong>Openingstijden MA</strong> 12.00-17.30
                    <strong>DI t/m VR</strong> 09.30-17.30
                    <strong>ZA</strong> 09:30-18.00
                    <strong>DI t/m VR</strong> 11.00-17.00
                </p>
            </div>

            <div class="row no-gutter flex-container footer-container">
                <div class="col-md-2 no-gutter yellowBorder">
                    <img src="https://s24.postimg.org/n7rc30ik5/Footer_SP_1_2.png" alt="sponsor 1">
                </div>
                <div class="col-md-2 no-gutter yellowBorder">
                    <img src="https://s30.postimg.org/q2yruknip/Footer_Sp_2_2.png" alt="sponsor 2">
                </div>
            </div>

            <div class="row flex-container footer-container">
                <div class="col-md-3 yellowBorder">
                    <h4>Winkel</h4>
                    <a href=""> Over de Honeymoon shop</a>
                    <a href=""> Servicepunten</a>
                    <a href="">Routebeschrijving</a>
                    <a href="">Beurzen en evenementen</a>
                    <a href="">Vacatures</a>
                    <a href="">Verkoopvoorwaarden</a>
                    <p>
                        Over de Honeymoon shop<br>
                        Servicepunten<br>
                        Routebeschrijving
                        Beurzen en evenementen<br>
                        Vacatures<br>
                        Verkoopvoorwaarden<br>
                        CBW erkend<br>
                        Contact<br>
                    </p>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Service</h4>
                    <p>
                        Beoordelingen<br>
                        Dressfinder<br>
                        Gratis trouwmagazine<br>
                        Nieuwsbrief<br>
                        Veel gestelde vragen<br>
                        CBW erkend<br>
                        Reinigen van trouwjurk<br>
                        10 redenen om je afspraak te maken<br>
                        The Perfect Match<br>
                    </p>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Acties</h4>
                    <p>
                        The Grand Wedding Show<br>
                        Summer Sale<br>
                        Trouwjurken onder de 1000 euro<br>
                        Trouwjurken voor de volslanke bruid<br>
                    </p>
                </div>
            </div>

        </footer>
        <!-- END FOOTER -->

    </div>
</body>
</html>