*{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 80%;
}

.row {
    border-style: solid;
    margin: 5px;
}


.row .header {
    background-color: #fac9c4;
    height: 50px;
}

.header .col-sm-1 {
    text-align: center;
    padding: auto 0;
    border-style: solid;
    border-color: red;
    min-height: 100%;
    padding: auto 0;
}


.fullHeight {
    min-height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
    background-color: #ffffff;
}

.container {
    width: 80%;
}

.row {
    border-style: solid;
    border-color:;
    margin: 0px;
}

.yellowBorder {
    border-color: yellow;
    border-style:;
}



.col-centered {
    display: inline-table;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}




* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}


* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}

.month {
    padding: 20px 20px;
    width: 100%;
    background: #f27390;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .prev {
        float: left;
        padding-top: 0px;
    }


    .month .next {
        float: right;
        padding-top: 0px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #f0597c;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: white;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #f0597c;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: white;
    }

        .days li .active {
            padding: 5px;
            border-radius: 50%;
            border-size: 10px;
            border: solid;
            color: white !important;
        }

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.5%;
    }

        .days li .active {
            padding: 2px;
        }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}








.container {
    width: 80%;
}

.row {
    border-style:;
    margin: 5px;
}

.image {
    position: relative;
}

.par {
    position: absolute;
    top: 0px;
    left: 0px;
}

.right-aligned {
    text-align: right;
}

@media all and (max-width: 1200px) {
    .right-aligned {
        text-align: left;
    }
}

.row .header {
    background-color: #fac9c4;
    height: 50px;
}

.header .col-sm-1 {
    text-align: center;
    padding: auto 0;
    border-style: solid;
    border-color: red;
    min-height: 100%;
    padding: auto 0;
}


.fullHeight {
    min-height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
    background-color: #ffffff;
}

.container {
    width: 80%;
}

.yellowBorder {
    border-color: yellow;
    border-style:;
}

.row2 {
    width: 90%;
    margin: 0 auto;
}

/* @media screen and (max-width: 768px) {
			.col-sm-4 {
				min-width: 300px !important;
			}
		} */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-table;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}




* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}


* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}

.month {
    padding: 20px 20px;
    width: 100%;
    background: #f27390;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .prev {
        float: left;
        padding-top: 0px;
    }


    .month .next {
        float: right;
        padding-top: 0px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #f0597c;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: white;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #f0597c;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: white;
    }

        .days li .active {
            padding: 5px;
            border-radius: 50%;
            border-size: 10px;
            border: solid;
            color: white !important;
        }

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.5%;
    }

        .days li .active {
            padding: 2px;
        }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}















.container {
    width: 80%;
}

.row {
    border-style:;
    margin: 5px;
}

.image {
    position: relative;
}

.par {
    position: absolute;
    top: 0px;
    left: 0px;
}

.right-aligned {
    text-align: right;
}

@media all and (max-width: 1200px) {
    .right-aligned {
        text-align: left;
    }
}

.row .header {
    background-color: #fac9c4;
    height: 50px;
}

.header .col-sm-1 {
    text-align: center;
    padding: auto 0;
    border-style: solid;
    border-color: red;
    min-height: 100%;
    padding: auto 0;
}


.fullHeight {
    min-height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
    background-color: #ffffff;
}

.container {
    width: 80%;
}

.row {
    border-style:;
    border-color:;
    margin: 0px;
}

.yellowBorder {
    border-color: yellow;
    border-style:;
}

.row2 {
    width: 90%;
    margin: 0 auto;
}

/* @media screen and (max-width: 768px) {
			.col-sm-4 {
				min-width: 300px !important;
			}
		} */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-table;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}




* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}


* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana,sans-serif;
}

.month {
    padding: 20px 20px;
    width: 100%;
    background: #f27390;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .prev {
        float: left;
        padding-top: 0px;
    }


    .month .next {
        float: right;
        padding-top: 0px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #f0597c;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: white;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #f0597c;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: white;
    }

        .days li .active {
            padding: 5px;
            border-radius: 50%;
            border-size: 10px;
            border: solid;
            color: white !important;
        }

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.5%;
    }

        .days li .active {
            padding: 2px;
        }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}
