<div class="row" >
    <div id="marginDingetje">
        <div class="col-md-4 box">
            <div id="ElTitle" class="text-uppercase">SOORTEN AFSPRAKEN</div>
            <p>
            <div>
                Et esurio et illud venit. In taberna nuptiis autem
                quod nolo illud explicabo. Potest etiam on- nulla. Aut in Latin
            </div>
        </div>
        <div class="col-md-2 box" id="JustABitFurther">
            <a href="#"><img src="~/images/Trouwjurk passen image.png" alt="Foto 1"></a>
        </div>
        <div class="col-md-2 box" id="JustABitFurther">
            <a href="#"><img src="~/images/Trouwpak passen image.png" alt="Foto 2"></a>
        </div>
        <div class="col-md-2 box" id="JustABitFurther">
            <a href="#"><img src="~/images/AfspeldAfspraak Maken image.png" alt="Foto 3"></a>
        </div>
    </div>
</div>