<div class="container-fluid">
    <div class="appointmentContainer">
        <div class="row" id="appointmentBlock">
            <div class="col-md-2">
                <!--Steps-->
            </div>
            <div class="col-md-5">
                <!--Form, info, etc-->
            </div>
            <div class="col-md-5">
                <!--Date pickers, etc-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="https://placekitten.com/1500/900" alt="kitten" />
    </div>
</div>